@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;

.payment {
  padding-inline: f.rem(15);
  padding-bottom: f.rem(60);

  @include m.breakpoint(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 0;
    padding-bottom: f.rem(88);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: f.rem(40);

    @include m.breakpoint(large) {
      width: 500px;
    }
  }
}
