@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: f.rem(30) f.rem(26) f.rem(30) f.rem(30);
  border-bottom: 1px solid #e5e5e5;

  @include m.breakpoint(large) {
    padding-inline: 0;
  }

  .chevron-down-icon {
    width: f.em(10);
  }

  &__icon {
    cursor: pointer;
    path {
      fill: black;
    }
  }

  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: f.rem(15);
    order: 3;

    .cart-icon-container {
      position: relative;
    }

    .cart-icon-quantity {
      width: 11px;
      height: 11px;
      padding: f.rem(7);
      background-color: #56b280;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(50%) translateY(-50%);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: "Roboto", sans-serif;
      font-size: f.rem(10);
      font-weight: 500;
    }

    .cart-icon {
      width: 23px;
      height: 23px;
    }

    .profile-icon {
      width: 26px;
      height: 26px;
    }
  }
}
