@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;

.subscription {
  @include m.breakpoint(medium) {
    width: 350px;
  }

  &__group {
    padding: f.rem(20);
  }

  &__group:last-child {
    border-radius: 7px;
    border: 1px solid #e6e6e6;
  }

  /* The container */
  &__label {
    position: relative;
    padding-left: f.rem(24);
    padding-right: f.rem(6);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: f.rem(16);
    user-select: none;
  }

  /* Hide the browser's default radio button */
  &__label &__radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
    border: 3px solid #dbdbdb;
  }

  /* On mouse-over, add a grey background color */
  &__label:hover &__radio ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  &__label &__radio:checked ~ .checkmark {
    background-color: #56b280;
  }

  /* Show the indicator (dot/circle) when checked */
  &__label &__radio:checked ~ .checkmark:after {
    display: block;
  }

  &__dropdown {
  }

  &__desc {
    color: #818181;
    font-family: Helvetica;
    span {
      color: #56b280;
      font-size: f.rem(14);
      cursor: pointer;
    }
  }
}
