@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.btn {
  border-radius: 4px;
  background-color: #56b280;
  color: white;
  padding-block: f.rem(8);
  font-size: f.rem(21);
  font-weight: 400;
  cursor: pointer;
}

.btn-lg {
  padding-block: f.rem(10);
  width: 100%;
}
