body {
  font-weight: 500;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}
