/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
  padding: 0;
  border: transparent;
}

#root {
  isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.btn {
  border-radius: 4px;
  background-color: #56b280;
  color: white;
  padding-block: 0.5rem;
  font-size: 1.3125rem;
  font-weight: 400;
  cursor: pointer;
}

.btn-lg {
  padding-block: 0.625rem;
  width: 100%;
}

.dropdown__button {
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.dropdown__content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  background-color: white;
  border-radius: 4px;
}
@media (min-width: 40em) {
  .dropdown__content[data-visible=true] {
    visibility: visible;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    transform: translateY(10%);
    transition: 0.3s ease;
  }
}
@media (min-width: 40em) {
  .dropdown__item {
    padding: 0.625rem;
  }
}
.dropdown__link {
  color: black;
  text-decoration: none;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 126px;
  height: 34px;
  order: 2;
}
@media (min-width: 40em) {
  .logo-container {
    justify-content: flex-start;
  }
}
.logo-container .logo {
  max-width: 126px;
}
@media (min-width: 40em) {
  .logo-container {
    order: 1;
  }
}

.hamburger {
  width: 32px;
  height: 17px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (min-width: 40em) {
  .hamburger {
    display: none;
  }
}
.hamburger__line, .hamburger__line::before, .hamburger__line::after {
  content: "";
  display: block;
  background-color: black;
  height: 3px;
  width: 100%;
  position: absolute;
  transition: 0.3s ease;
}
.hamburger__line::before {
  margin-top: -8px;
}
.hamburger__line::after {
  margin-top: 8px;
}
.hamburger[aria-expanded=true] .hamburger__line {
  background: transparent;
}
.hamburger[aria-expanded=true] .hamburger__line::before {
  margin-top: 0;
  transform: rotate(35deg);
}
.hamburger[aria-expanded=true] .hamburger__line::after {
  margin-top: 0;
  transform: rotate(-35deg);
}

.product-card {
  width: 100%;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 40em) {
  .product-card {
    width: 255px;
  }
}
.product-card__image-container {
  height: 147px;
  position: relative;
  background-color: hsl(220, 23%, 97%);
  overflow-y: hidden;
}
@media (min-width: 40em) {
  .product-card__image-container {
    height: auto;
    overflow-y: hidden;
  }
}
.product-card__image {
  width: 100%;
  transform: translateY(-10%);
}
@media (min-width: 40em) {
  .product-card__image {
    transform: translateY(0%);
  }
}
.product-card__text {
  background-color: #fff;
  padding: 26px;
}
.product-card__title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #1d293f;
  font-weight: 500;
}
.product-card__price {
  color: #56b280;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.testimonial-card {
  width: 21.875rem;
  background-color: white;
  display: grid;
  justify-items: center;
  padding: 2rem;
  border-radius: 5px;
}
.testimonial-card__image-container {
  width: 5.25rem;
  height: 5.25rem;
  border-radius: 50%;
  margin-bottom: 0.875rem;
}
.testimonial-card__image {
  border-radius: 50%;
  width: 100%;
}
.testimonial-card__rating {
  display: flex;
  gap: 0.4375rem;
  margin-bottom: 1.375rem;
}
.testimonial-card__star-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.testimonial-card__star-icon path {
  fill: #5bc08a;
}
.testimonial-card__comment {
  font-weight: 500;
  font-size: 1.375rem;
  text-align: center;
}
.testimonial-card__name {
  font-weight: 400;
  color: #7c8087;
  font-size: 1.125rem;
}

.quantity {
  width: 75px;
  height: 30px;
  border: 1px solid #56b280;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
}
.quantity__button {
  cursor: pointer;
  background-color: transparent;
}
.quantity__icon {
  width: 80%;
}
.quantity__icon.bi-dash {
  color: #a7a7a7;
}
.quantity__icon.bi-plus {
  color: #56b280;
}
.quantity__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.shipping-info {
  border-radius: 7px;
  border: 1px solid rgba(86, 178, 128, 0.2);
  margin-top: 3rem;
  padding: 1.3125rem 1rem 1.3125rem 1.75rem;
}
@media (max-width: 39.99875em) {
  .shipping-info {
    padding: 1.3125rem 1rem 1.3125rem 1rem;
  }
}
.shipping-info hr {
  border: 1px solid rgba(86, 178, 128, 0.2);
}
.shipping-info__contact-container, .shipping-info__address-container, .shipping-info__method-container {
  display: grid;
  grid-template-columns: 1fr 5fr 0.5fr;
  justify-items: start;
  align-items: center;
}
@media (max-width: 39.99875em) {
  .shipping-info__contact-container, .shipping-info__address-container, .shipping-info__method-container {
    column-gap: 0.5rem;
  }
}
.shipping-info__contact-container {
  padding-bottom: 0.625rem;
}
.shipping-info__contact-title, .shipping-info__address-title, .shipping-info__method-title, .shipping-info__contact, .shipping-info__address, .shipping-info__method {
  font-family: "Helvetica", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
.shipping-info__contact-title, .shipping-info__address-title {
  color: #818181;
}
.shipping-info__address-container {
  padding-top: 0.625rem;
}
.shipping-info__method-container {
  padding-top: 0.625rem;
}
.shipping-info__link {
  color: #56b280;
  font-family: "Helvetica", sans-serif;
  font-size: 0.875rem;
}

.breadcrumbs__nav {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.breadcrumbs__icon {
  height: 10px;
  width: 10px;
}
.breadcrumbs__link {
  font-weight: 600;
}
.breadcrumbs__link:not([aria-current=page]) {
  color: #616161;
  font-weight: 400;
}
.breadcrumbs__link--active {
  color: #56b280;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 1.625rem 1.875rem 1.875rem;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 64em) {
  .primary-header {
    padding-inline: 0;
  }
}
.primary-header .chevron-down-icon {
  width: 0.625em;
}
.primary-header__icon {
  cursor: pointer;
}
.primary-header__icon path {
  fill: black;
}
.primary-header__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.9375rem;
  order: 3;
}
.primary-header__right .cart-icon {
  width: 23px;
  height: 23px;
}
.primary-header__right .profile-icon {
  width: 26px;
  height: 26px;
}

.nav {
  order: 1;
  flex: 1;
}
@media (min-width: 40em) {
  .nav {
    order: 2;
    flex: 2;
  }
}
.nav__list {
  visibility: hidden;
}
@media (max-width: 39.99875em) {
  .nav__list {
    font-size: 1.5rem;
    transform: translateY(-150%);
    height: 0;
    width: 0;
    background-color: #fff;
    z-index: 1;
  }
  .nav__list[data-visible=true] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.6875rem;
    padding-left: 2.5rem;
    transform: translateY(48%);
    transition: 0.6s ease;
    visibility: visible;
    height: auto;
    width: 100%;
  }
}
@media (min-width: 40em) {
  .nav__list {
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 39.99875em) {
  .nav__item {
    padding: 0.6875rem;
  }
}

.footer {
  background-color: black;
  color: white;
  padding: 3.75rem 1.0625rem 6.875rem 1.0625rem;
}
.footer__container {
  display: grid;
  gap: 2.5rem;
}
@media (min-width: 40em) {
  .footer__container {
    gap: 0;
    grid-template-columns: 1fr 1fr;
  }
}
.footer__separator {
  width: 100%;
  background-color: white;
  height: 1.5px;
  margin-bottom: 0.875rem;
}
.footer__logo-container {
  max-width: 248px;
}
.footer__logo {
  width: 141px;
  height: 38px;
  margin-bottom: 0.875rem;
}
@media (min-width: 40em) {
  .footer__logo {
    width: 236px;
    height: 63px;
  }
}
.footer__slogan {
  font-weight: 400;
}
.footer__nav-list {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
}
.footer__nav__section {
  display: grid;
  gap: 1.5625rem;
}
.footer__nav__section-title {
  color: #56b280;
  font-weight: 500;
}
.footer__nav__link {
  font-weight: 500;
  color: white;
}
.footer__attribution {
  font-size: 0.875rem;
  background-color: #e5e5e5;
  color: #5e6e89;
  text-align: center;
  padding: 2rem 2.625rem;
}
@media (min-width: 40em) {
  .footer__attribution {
    padding: 2rem 1.5rem;
  }
}
.footer__attribution__container {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  flex-direction: column;
}
@media (min-width: 40em) {
  .footer__attribution__container {
    flex-direction: row;
  }
}
.footer__attribution a {
  color: #56b280;
}

.summary {
  background: #f2f2f2;
  position: absolute;
  width: 50vw;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 4.0625rem;
}
.summary__wrapper {
  max-width: 450px;
}
.summary__product {
  display: flex;
  gap: 3.75rem;
  padding-bottom: 3.3125rem;
  border-bottom: 1px solid rgba(86, 178, 128, 0.2);
}
.summary__image-container {
  width: fit-content;
  position: relative;
}
.summary__image {
  width: 160px;
  height: 120px;
  background-color: #f7f8fa;
}
.summary__item-count {
  position: absolute;
  display: grid;
  place-content: center;
  width: 22px;
  height: 22px;
  background-color: #56b280;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 50%;
  right: 0;
  top: 0;
  transform: translateX(50%) translateY(-50%);
}
.summary__product-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.summary__product-name {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.summary__product-price {
  color: #56b280;
  font-family: "Poppins", sans-serif;
  font-size: 1.3125rem;
  font-weight: 600;
}
.summary__coupon-container {
  display: flex;
  gap: 0.625rem;
  margin-block: 1.75rem;
}
.summary__coupon-input {
  flex: 3;
  color: #616161;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  padding: 0.4375rem 1.0625rem;
  border: 0.5px solid #898989;
}
.summary__coupon-button {
  flex: 1;
  border-radius: 4px;
  background: #a8a8a8;
  padding: 0.625rem 1.125rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.103125rem;
}
.summary__subtotal-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  padding-top: 0.9375rem;
  border-top: 1px solid rgba(86, 178, 128, 0.2);
}
.summary__shipping-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.0625rem;
  border-bottom: 1px solid rgba(86, 178, 128, 0.2);
}
.summary__shipping-text, .summary__shipping-amount, .summary__subtotal-amount, .summary__subtotal-text, .summary__total-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}
.summary__total-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0.9375rem;
}
.summary__total-amount {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.form__details {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
@media (min-width: 64em) {
  .form__details {
    width: 500px;
  }
}
.form__grid {
  padding-inline: 0.9375rem;
  padding-bottom: 3.75rem;
}
@media (min-width: 64em) {
  .form__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 0;
    padding-bottom: 0;
  }
}
.form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5625rem;
}
@media (min-width: 40em) {
  .form__footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.form__button {
  padding-block: 0.3125rem;
  padding-inline: 2.75rem;
}
@media (min-width: 40em) {
  .form__button {
    width: auto;
  }
}
.form__link {
  color: #56b280;
  text-decoration: underline;
  background: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.wrapper {
  max-width: 1100px;
  margin-inline: auto;
}

.hide-on-mobile {
  display: none;
}
@media (min-width: 64em) {
  .hide-on-mobile {
    display: block;
  }
}

@media (max-width: 39.99875em) {
  .hide-on-mobile {
    display: none;
  }
}

.contact {
  margin-top: 2.75rem;
}
.contact__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}
.contact__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}
.contact__account {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.contact__account a {
  color: #56b280;
}
.contact__form-group:last-child {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
}
.contact__contact-input {
  width: 100%;
  font-size: 0.875rem;
  font-family: Helvetica;
  padding: 0.4375rem 0.875rem;
  border: 1px solid #56b280;
  color: #616161;
  margin-bottom: 0.625rem;
}
.contact__newsletter-label {
  font-size: 0.875rem;
  font-family: Helvetica;
}
.contact__newsletter-checkbox {
  accent-color: #73bf95;
}

.shipping-address__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1.375rem;
}
@media (min-width: 40em) {
  .shipping-address__form {
    display: grid;
    column-gap: 0.8125rem;
    align-items: center;
    grid-template-areas: "firstname firstname lastname lastname" "address address address address" "shippingnote shippingnote shippingnote shippingnote" "city postalcode postalcode province" "country country country country" "saveinfo saveinfo saveinfo saveinfo";
  }
  .shipping-address__form-group:nth-of-type(1) {
    grid-area: firstname;
  }
  .shipping-address__form-group:nth-of-type(2) {
    grid-area: lastname;
  }
  .shipping-address__form-group:nth-of-type(3) {
    grid-area: address;
  }
  .shipping-address__form-group:nth-of-type(4) {
    grid-area: shippingnote;
  }
  .shipping-address__form-group:nth-of-type(5) {
    grid-area: city;
  }
  .shipping-address__form-group:nth-of-type(6) {
    grid-area: postalcode;
  }
  .shipping-address__form-group:nth-of-type(7) {
    grid-area: province;
  }
  .shipping-address__form-group:nth-of-type(8) {
    grid-area: country;
  }
  .shipping-address__form-group:nth-of-type(9) {
    grid-area: saveinfo;
  }
}
.shipping-address__form-group {
  margin-bottom: 0.5625rem;
}
.shipping-address__form-group:last-of-type {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.shipping-address__input {
  color: #616161;
  font-family: Helvetica;
  font-size: 0.875rem;
  border: 1px solid #898989;
  width: 100%;
  padding: 0.4375rem 0.8125rem;
}
.shipping-address__dropdown {
  padding: 0.4375rem 0.8125rem;
  border: 1px solid #898989;
  position: relative;
}
.shipping-address__dropdown::after {
  content: "";
  display: block;
  position: absolute;
  height: 70%;
  width: 0.25px;
  background-color: rgba(137, 137, 137, 0.5019607843);
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}
.shipping-address__dropdown label {
  position: absolute;
  top: 0;
  color: #616161;
  font-family: Helvetica;
  font-size: 0.625rem;
}
.shipping-address__dropdown select {
  border: transparent;
  font-family: Helvetica;
  font-size: 0.875rem;
  padding-top: 0.4375rem;
  width: 100%;
}
.shipping-address__form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5625rem;
}
@media (min-width: 40em) {
  .shipping-address__form__footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.shipping-address__checkbox {
  accent-color: #73bf95;
}
.shipping-address__checkbox-label {
  font-family: Helvetica;
  font-size: 0.875rem;
}
.shipping-address__button {
  padding-block: 0.3125rem;
}
.shipping-address__link {
  color: #56b280;
  text-decoration: underline;
}

.auth {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.cart {
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
  padding-inline: 0.75rem;
}
@media (min-width: 87.5em) {
  .cart {
    padding-inline: 0;
  }
}
.cart__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}
.cart__title {
  font-size: 1.625rem;
  font-weight: 500;
}
.cart__link {
  color: #56b280;
  text-decoration: underline;
}
.cart__table-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: end;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.75rem;
}
@media (min-width: 40em) {
  .cart__table-header {
    grid-template-columns: 2fr repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
}
.cart__table-cell:first-child {
  justify-self: start;
}
.cart__table-cell:last-child {
  justify-self: end;
}
@media (min-width: 40em) {
  .cart__table-cell.hide-on-mobile {
    display: block;
  }
}
.cart__product-row {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  border-bottom: 1px solid #e5e5e5;
  padding-block: 2rem;
}
@media (min-width: 40em) {
  .cart__product-row {
    grid-template-columns: 2fr repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
}
.cart__product {
  display: flex;
}
.cart__product-image-container {
  max-width: 160px;
  padding-inline: 0.75rem;
}
.cart__product-image {
  background-color: #f7f8fa;
}
.cart__product-name {
  font-weight: 500;
  font-size: 1.25rem;
}
.cart__product-remove {
  font-size: 1.125rem;
  color: #56b280;
  text-decoration: underline;
}
.cart__product-price {
  font-size: 1.125rem;
  font-weight: 500;
}
@media (max-width: 39.99875em) {
  .cart__product-price {
    justify-self: end;
  }
}
@media (max-width: 39.99875em) {
  .cart__product-quantity {
    justify-self: end;
    grid-column: 2;
  }
}
.cart__product-quantity .mobile-only {
  display: block;
}
@media (min-width: 40em) {
  .cart__product-quantity .mobile-only {
    display: none;
  }
}
.cart__product-total {
  font-size: 1.125rem;
  font-weight: 500;
  justify-self: end;
}
@media (min-width: 40em) {
  .cart__product-total.hide-on-mobile {
    display: block;
  }
}
.cart__checkout-section {
  display: flex;
  margin-top: 2.625rem;
  flex-direction: column;
}
@media (min-width: 40em) {
  .cart__checkout-section {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 4.375rem;
  }
}
.cart__subtotal-container {
  display: flex;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  justify-content: space-around;
  margin-bottom: 1rem;
}
@media (min-width: 40em) {
  .cart__subtotal-container {
    justify-content: flex-end;
    gap: 3.75rem;
  }
}
.cart__tax-text {
  color: #9e9e9e;
  text-align: center;
}
@media (min-width: 40em) {
  .cart__tax-text {
    text-align: right;
  }
}
.cart__button {
  margin-top: 2.25rem;
}
@media (min-width: 40em) {
  .cart__button {
    margin-top: 0;
    width: 183px;
  }
}

.hero__container {
  position: relative;
  height: 90vh;
}
.hero__image {
  height: 100%;
  width: 100%;
  position: absolute;
}
.hero__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  padding: 2.5rem 0.9375rem;
  margin-inline: 0.9375rem;
  border-radius: 2px;
  background: rgba(247, 248, 250, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
@media (min-width: 40em) {
  .hero__text-container {
    right: 0;
    margin-inline: auto;
    width: calc(100% - 30px);
    padding: 2.5rem 0.9375rem;
  }
}
@media (min-width: 64em) {
  .hero__text-container {
    width: 50%;
    padding: 2.5rem 4.375rem;
  }
}
@media (min-width: 87.5em) {
  .hero__text-container {
    padding: 2.5rem 5.625rem;
  }
}
.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}
.hero__description {
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 2.1875rem;
}
.hero__button {
  width: 100%;
}
@media (min-width: 40em) {
  .hero__button {
    width: auto;
    padding-inline: 44px;
  }
}

.products {
  padding: 3.125rem 0.9375rem 4.3125rem 0.9375rem;
}
@media (min-width: 40em) {
  .products {
    padding: 5.625rem 0 7.8125rem 0;
  }
}
.products__text {
  text-align: center;
  font-weight: 500;
  margin-bottom: 4.3125rem;
}
.products__title {
  color: #0b254b;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
}
.products__subtitle {
  color: #5e6e89;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.products__container {
  gap: 20px;
  max-width: 1111px;
  margin-inline: auto;
  display: grid;
}
@media (min-width: 40em) {
  .products__container {
    gap: 30px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }
}

.benefits {
  background-color: #f7f8fa;
  padding: 7.4375rem 0.9375rem 2.8125rem 0.9375rem;
}
@media (min-width: 87.5em) {
  .benefits {
    padding: 9.4375rem 0 5.875rem 0;
  }
}
.benefits__container {
  display: grid;
}
@media (min-width: 40em) {
  .benefits__container {
    grid-template-columns: 1fr 1fr;
  }
}
.benefits__heading {
  text-align: center;
  margin-bottom: 4.4375rem;
}
@media (min-width: 40em) {
  .benefits__heading {
    text-align: left;
    margin-bottom: 2.8125rem;
  }
}
.benefits__title {
  font-size: 2.5rem;
  font-weight: 500;
}
@media (min-width: 40em) {
  .benefits__title {
    width: 345px;
  }
}
.benefits__subtitle {
  color: #56b280;
  font-weight: 400;
}
.benefits__list-container {
  order: 2;
}
@media (min-width: 40em) {
  .benefits__list-container {
    order: 0;
  }
}
.benefits__list {
  margin-bottom: 2.8125rem;
}
@media (min-width: 40em) {
  .benefits__list {
    margin-bottom: 4.25rem;
  }
}
.benefits__item {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  margin-bottom: 1rem;
}
.benefits__item-text {
  line-height: 1.1;
  font-weight: 500;
}
.benefits__icon {
  width: 20px;
}
.benefits__button {
  padding-inline: 2.75rem;
  margin-inline: auto;
  display: block;
}
@media (min-width: 40em) {
  .benefits__button {
    margin-inline: 0;
  }
}
.benefits__image-container {
  max-width: 33.75rem;
  order: 1;
  margin-bottom: 2.8125rem;
}
@media (min-width: 40em) {
  .benefits__image-container {
    order: 0;
    margin-bottom: 0;
    transform: translateY(-25%);
  }
}
.benefits__image {
  width: 100%;
}

.testimonials {
  background-color: rgba(86, 178, 128, 0.1);
  padding: 5.625rem 1rem 5.625rem 1rem;
}
.testimonials__heading {
  text-align: center;
  margin-bottom: 1.6875rem;
}
.testimonials__title {
  font-weight: 500;
  font-size: 2.5rem;
}
.testimonials__subtitle {
  font-size: 1.125rem;
}
.testimonials__container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 0.625rem;
  overflow-x: scroll;
}
.popular {
  padding: 3.125rem 0.9375rem 4.3125rem 0.9375rem;
}
@media (min-width: 40em) {
  .popular {
    padding: 5.625rem 0 7.8125rem 0;
  }
}
.popular__heading {
  text-align: center;
  font-weight: 500;
  margin-bottom: 4.3125rem;
}
.popular__title {
  color: #0b254b;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
}
.popular__subtitle {
  color: #5e6e89;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.popular__container {
  gap: 20px;
  max-width: 1111px;
  margin-inline: auto;
  display: grid;
}
@media (min-width: 40em) {
  .popular__container {
    gap: 30px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.payment-method__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.4375rem;
}
.payment-method__card-heading-container {
  background: linear-gradient(to right, rgba(86, 178, 128, 0.2), rgba(86, 178, 128, 0.4));
  border-radius: 7px 7px 0 0;
  padding: 0.875rem 1.3125rem;
}
@media (min-width: 40em) {
  .payment-method__card-heading-container {
    display: flex;
    align-items: center;
    gap: 1.4375rem;
  }
}
.payment-method__card-heading {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #56b280;
}
.payment-method__card-icon {
  width: 31px;
  height: 31px;
}
.payment-method__card-icon path {
  fill: #56b280;
}
.payment-method__card {
  border-radius: 0 0 7px 7px;
}
@media (min-width: 40em) {
  .payment-method__card {
    border: 1px solid #e5e5e5;
    padding: 1.5rem 1.125rem 1.875rem;
  }
}
.payment-method__lock-icon {
  width: 18px;
  height: 18px;
}
.payment-method__lock-icon path {
  fill: #616161;
}
.payment-method__info-icon {
  width: 18px;
  height: 18px;
}
.payment-method__info-icon path {
  fill: #616161;
}
.payment-method__form {
  display: grid;
  gap: 0.75rem 0.5625rem;
  grid-template-areas: "cardnumber cardnumber" "holdername holdername" "expiration cvv";
}
.payment-method__form-group:nth-child(1) {
  grid-area: cardnumber;
}
.payment-method__form-group:nth-child(2) {
  grid-area: holdername;
}
.payment-method__form-group:nth-child(3) {
  grid-area: expiration;
}
.payment-method__form-group:nth-child(4) {
  grid-area: cvv;
}
.payment-method__form-group div {
  width: 100%;
  display: flex;
  align-items: center;
  border: 0.5px solid #898989;
  padding-right: 0.625rem;
}
.payment-method__input {
  width: 100%;
  color: #616161;
  font-family: "Helvetica", sans-serif;
  font-size: 0.875rem;
  padding-block: 0.4375rem;
  padding-left: 1.0625rem;
}
.payment-method__input.no-icon {
  border: 0.5px solid #898989;
}

.tax__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.4375rem;
}
.tax__form {
  display: grid;
  gap: 0.75rem;
}
.tax__input {
  width: 100%;
  border: 0.5px solid #898989;
  padding: 0.4375rem 1.0625rem;
  color: #616161;
  font-family: "Helvetica", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.billing {
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a green background */
}
.billing__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.4375rem;
}
.billing__container {
  border-radius: 7px;
  border: 1px solid #e5e5e5;
  padding: 1.25rem 1.125rem;
}
.billing__separator {
  margin-block: 1.25rem;
  border-top: 1px solid rgba(129, 129, 129, 0.2509803922);
}
.billing__label {
  position: relative;
  padding-left: 1.875rem;
  padding-right: 0.375rem;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 0.875rem;
  user-select: none;
}
.billing__label .billing__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.billing .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
  border: 3px solid #dbdbdb;
}
.billing__label:hover .billing__radio ~ .checkmark {
  background-color: #ccc;
}
.billing__label .billing__radio:checked ~ .checkmark {
  background-color: #56b280;
}

.subscription {
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Show the indicator (dot/circle) when checked */
}
@media (min-width: 40em) {
  .subscription {
    width: 350px;
  }
}
.subscription__group {
  padding: 1.25rem;
}
.subscription__group:last-child {
  border-radius: 7px;
  border: 1px solid #e6e6e6;
}
.subscription__label {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 0.375rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  user-select: none;
}
.subscription__label .subscription__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.subscription .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
  border: 3px solid #dbdbdb;
}
.subscription__label:hover .subscription__radio ~ .checkmark {
  background-color: #ccc;
}
.subscription__label .subscription__radio:checked ~ .checkmark {
  background-color: #56b280;
}
.subscription__label .subscription__radio:checked ~ .checkmark:after {
  display: block;
}
.subscription__desc {
  color: #818181;
  font-family: Helvetica;
}
.subscription__desc span {
  color: #56b280;
  font-size: 0.875rem;
  cursor: pointer;
}

.product {
  padding: 1.3125rem 1rem;
}
@media (min-width: 40em) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3rem;
    padding-bottom: 7.125rem;
    gap: 1.875rem;
  }
}
.product__image-container {
  margin-bottom: 1.25rem;
}
@media (min-width: 40em) {
  .product__image-container {
    margin-bottom: 1.375rem;
  }
}
.product__image {
  background-color: #f7f8fa;
}
.product__description {
  text-align: center;
  font-weight: 500;
  font-size: 1.375rem;
}
.product__description span {
  display: block;
  margin-top: 1.5rem;
  color: #56b280;
  text-transform: uppercase;
}
.product__description.mobile-only {
  display: none;
}
@media (max-width: 39.99875em) {
  .product__description.mobile-only {
    display: block;
    margin-top: 2.1875rem;
  }
}
@media (min-width: 40em) {
  .product__description.hide-on-mobile {
    display: block;
  }
}
.product__name {
  font-size: 1.75rem;
  font-weight: 500;
}
.product__name.mobile-only {
  display: none;
}
@media (max-width: 39.99875em) {
  .product__name.mobile-only {
    display: block;
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 40em) {
  .product__name.hide-on-mobile {
    display: block;
  }
}
.product__price {
  color: #56b280;
  font-family: "Poppins", sans-serif;
  font-size: 1.625rem;
  font-weight: 600;
}
.product__quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__quantity__text {
  font-size: 1.125rem;
}
.product__quantity-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (min-width: 64em) {
  .product__quantity-price {
    grid-template-columns: 1fr;
    align-items: baseline;
  }
}
@media (min-width: 64em) {
  .product__order-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 40em) {
  .product__button-container {
    display: flex;
    justify-content: start;
  }
}
@media (min-width: 64em) {
  .product__button-container {
    justify-content: end;
  }
}
.product__button {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 2.5rem;
}
.product__button .add-to-cart-icon {
  width: 24px;
  height: 24px;
}
@media (min-width: 40em) {
  .product__button {
    width: 350px;
  }
}
.product__specifications {
  padding: 1.375rem;
  border-radius: 7px;
  border: 1px solid #e6e6e6;
  color: #849a8e;
}
@media (min-width: 40em) {
  .product__specifications {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
@media (min-width: 40em) {
  .product__specifications p {
    display: inline-block;
    width: fit-content;
    font-size: 14px;
  }
}
.product__specifications span {
  color: #1d252c;
  font-weight: 600;
}

.shipping {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.shipping-method {
  /* The container */
  /* Hide the browser's default checkbox button */
  /* Create a custom checkbox button */
  /* On mouse-over, add a grey background color */
  /* When the checkbox button is checked, add a green background */
}
.shipping-method__heading {
  margin-bottom: 1.4375rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}
.shipping-method__container {
  border-radius: 7px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: 1.375rem;
}
.shipping-method__label {
  position: relative;
  padding-left: 3rem;
  padding-right: 0.375rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  user-select: none;
}
.shipping-method__label .shipping-method__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.shipping-method .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
  border: 3px solid #dbdbdb;
}
.shipping-method__label:hover .shipping-method__checkbox ~ .checkmark {
  background-color: #ccc;
}
.shipping-method__label .shipping-method__checkbox:checked ~ .checkmark {
  background-color: #56b280;
}
.shipping-method__price {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
}

.thanks {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.confirmation {
  display: grid;
  gap: 1rem;
  margin-top: 3rem;
}
.confirmation__image {
  display: block;
  width: 100px;
  height: 100px;
  margin-inline: auto;
}
.confirmation__image path {
  fill: rgba(86, 178, 128, 0.6);
}
.confirmation__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.625rem;
  font-weight: 500;
  text-align: center;
}
.confirmation__subtitle {
  color: #56b280;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.confirmation__message {
  color: #818181;
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

.thanks-footer {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
@media (min-width: 40em) {
  .thanks-footer {
    align-items: center;
  }
}
.thanks-footer__button {
  padding-block: 0.3125rem;
  padding-inline: 2.75rem;
}
@media (min-width: 40em) {
  .thanks-footer__button {
    width: auto;
  }
}
.thanks-footer__link {
  color: #56b280;
  text-decoration: underline;
  background-color: transparent;
}

/*# sourceMappingURL=index.css.map */
