/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
  padding: 0;
  border: none;
}

#root {
  isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-weight: 500;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.btn {
  border-radius: 4px;
  background-color: #56b280;
  color: white;
  padding-block: 0.5rem;
  font-size: 1.3125rem;
  cursor: pointer;
}

.dropdown__button {
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.dropdown__content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  background-color: white;
  border-radius: 4px;
}
@media (min-width: 40em) {
  .dropdown__content[data-visible=true] {
    visibility: visible;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    transform: translateY(10%);
    transition: 0.3s ease;
  }
}
@media (min-width: 40em) {
  .dropdown__item {
    padding: 0.625rem;
  }
}
.dropdown__link {
  color: black;
  text-decoration: none;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 126px;
  height: 34px;
  order: 2;
}
@media (min-width: 40em) {
  .logo-container {
    justify-content: flex-start;
  }
}
.logo-container .logo {
  max-width: 126px;
}
@media (min-width: 40em) {
  .logo-container {
    order: 1;
  }
}

.hamburger {
  width: 32px;
  height: 17px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (min-width: 40em) {
  .hamburger {
    display: none;
  }
}
.hamburger__line, .hamburger__line::before, .hamburger__line::after {
  content: "";
  display: block;
  background-color: black;
  height: 3px;
  width: 100%;
  position: absolute;
  transition: 0.3s ease;
}
.hamburger__line::before {
  margin-top: -8px;
}
.hamburger__line::after {
  margin-top: 8px;
}
.hamburger[aria-expanded=true] .hamburger__line {
  background: transparent;
}
.hamburger[aria-expanded=true] .hamburger__line::before {
  margin-top: 0;
  transform: rotate(35deg);
}
.hamburger[aria-expanded=true] .hamburger__line::after {
  margin-top: 0;
  transform: rotate(-35deg);
}

.product-card {
  width: 100%;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 40em) {
  .product-card {
    width: 255px;
  }
}
.product-card__image-container {
  height: 147px;
  position: relative;
  background-color: hsl(220, 23%, 97%);
  overflow-y: hidden;
}
@media (min-width: 40em) {
  .product-card__image-container {
    height: auto;
    overflow-y: hidden;
  }
}
.product-card__image {
  width: 100%;
  transform: translateY(-10%);
}
@media (min-width: 40em) {
  .product-card__image {
    transform: translateY(0%);
  }
}
.product-card__text {
  background-color: #fff;
  padding: 26px;
}
.product-card__title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #1d293f;
  font-weight: 500;
}
.product-card__price {
  color: #56b280;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.testimonial-card {
  width: 21.875rem;
  background-color: white;
  display: grid;
  justify-items: center;
  padding: 2rem;
  border-radius: 5px;
}
.testimonial-card__image-container {
  width: 5.25rem;
  height: 5.25rem;
  border-radius: 50%;
  margin-bottom: 0.875rem;
}
.testimonial-card__image {
  border-radius: 50%;
  width: 100%;
}
.testimonial-card__rating {
  display: flex;
  gap: 0.4375rem;
  margin-bottom: 1.375rem;
}
.testimonial-card__star-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.testimonial-card__star-icon path {
  fill: #5bc08a;
}
.testimonial-card__comment {
  font-weight: 500;
  font-size: 1.375rem;
  text-align: center;
}
.testimonial-card__name {
  font-weight: 400;
  color: #7c8087;
  font-size: 1.125rem;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 1.625rem 1.875rem 1.875rem;
  border-bottom: 1px solid #e5e5e5;
}
.primary-header .chevron-down-icon {
  width: 0.625em;
}
.primary-header__icon {
  cursor: pointer;
}
.primary-header__icon path {
  fill: black;
}
.primary-header__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.9375rem;
  order: 3;
}
.primary-header__right .cart-icon {
  width: 23px;
  height: 23px;
}
.primary-header__right .profile-icon {
  width: 26px;
  height: 26px;
}

.nav {
  order: 1;
  flex: 1;
}
@media (min-width: 40em) {
  .nav {
    order: 2;
    flex: 2;
  }
}
.nav__list {
  visibility: hidden;
}
@media (max-width: 39.99875em) {
  .nav__list {
    font-size: 1.5rem;
    transform: translateY(-150%);
    height: 0;
    width: 0;
    background-color: #fff;
    z-index: 1;
  }
  .nav__list[data-visible=true] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.6875rem;
    padding-left: 2.5rem;
    transform: translateY(48%);
    transition: 0.6s ease;
    visibility: visible;
    height: auto;
    width: 100%;
  }
}
@media (min-width: 40em) {
  .nav__list {
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 39.99875em) {
  .nav__item {
    padding: 0.6875rem;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.hero__container {
  position: relative;
  height: 90vh;
}
.hero__image {
  height: 100%;
  width: 100%;
  position: absolute;
}
.hero__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  padding: 2.5rem 0.9375rem;
  margin-inline: 0.9375rem;
  border-radius: 2px;
  background: rgba(247, 248, 250, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
@media (min-width: 40em) {
  .hero__text-container {
    right: 0;
    margin-inline: auto;
    width: calc(100% - 30px);
    padding: 2.5rem 0.9375rem;
  }
}
@media (min-width: 64em) {
  .hero__text-container {
    width: 50%;
    padding: 2.5rem 4.375rem;
  }
}
@media (min-width: 87.5em) {
  .hero__text-container {
    padding: 2.5rem 5.625rem;
  }
}
.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}
.hero__description {
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 2.1875rem;
}
.hero__button {
  width: 100%;
}
@media (min-width: 40em) {
  .hero__button {
    width: auto;
    padding-inline: 44px;
  }
}

.products {
  padding: 3.125rem 0.9375rem 4.3125rem 0.9375rem;
}
@media (min-width: 40em) {
  .products {
    padding: 5.625rem 0 7.8125rem 0;
  }
}
.products__text {
  text-align: center;
  font-weight: 500;
  margin-bottom: 4.3125rem;
}
.products__title {
  color: #0b254b;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
}
.products__subtitle {
  color: #5e6e89;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.products__container {
  gap: 20px;
  max-width: 1111px;
  margin-inline: auto;
  display: grid;
}
@media (min-width: 40em) {
  .products__container {
    gap: 30px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }
}

.benefits {
  background-color: #f7f8fa;
  padding: 7.4375rem 0.9375rem 2.8125rem 0.9375rem;
}
@media (min-width: 87.5em) {
  .benefits {
    padding: 9.4375rem 10.3125rem 5.875rem 10.3125rem;
  }
}
.benefits__container {
  display: grid;
}
@media (min-width: 40em) {
  .benefits__container {
    grid-template-columns: 1fr 1fr;
  }
}
.benefits__heading {
  text-align: center;
  margin-bottom: 4.4375rem;
}
@media (min-width: 40em) {
  .benefits__heading {
    text-align: left;
    margin-bottom: 2.8125rem;
  }
}
.benefits__title {
  font-size: 2.5rem;
  font-weight: 500;
}
@media (min-width: 40em) {
  .benefits__title {
    width: 345px;
  }
}
.benefits__subtitle {
  color: #56b280;
  font-weight: 400;
}
.benefits__list-container {
  order: 2;
}
@media (min-width: 40em) {
  .benefits__list-container {
    order: 0;
  }
}
.benefits__list {
  margin-bottom: 2.8125rem;
}
@media (min-width: 40em) {
  .benefits__list {
    margin-bottom: 4.25rem;
  }
}
.benefits__item {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  margin-bottom: 1rem;
}
.benefits__item-text {
  line-height: 1.1;
  font-weight: 500;
}
.benefits__icon {
  width: 20px;
}
.benefits__button {
  padding-inline: 2.75rem;
  margin-inline: auto;
  display: block;
}
@media (min-width: 40em) {
  .benefits__button {
    margin-inline: 0;
  }
}
.benefits__image-container {
  max-width: 33.75rem;
  order: 1;
  margin-bottom: 2.8125rem;
}
@media (min-width: 40em) {
  .benefits__image-container {
    order: 0;
    margin-bottom: 0;
    transform: translateY(-25%);
  }
}
.benefits__image {
  width: 100%;
}

.testimonials {
  background-color: rgba(86, 178, 128, 0.1);
  padding: 5.625rem 1rem 5.625rem 1rem;
}
@media (min-width: 87.5em) {
  .testimonials {
    padding: 5.625rem;
  }
}
.testimonials__heading {
  text-align: center;
  margin-bottom: 1.6875rem;
}
.testimonials__title {
  font-weight: 500;
  font-size: 2.5rem;
}
.testimonials__subtitle {
  font-size: 1.125rem;
}
.testimonials__container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 0.625rem;
  overflow-x: scroll;
}

/*# sourceMappingURL=index.css.map */
