@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;

.benefits {
  background-color: #f7f8fa;
  padding: f.rem(119) f.rem(15) f.rem(45) f.rem(15);

  @include m.breakpoint(xlarge) {
    padding: f.rem(151) f.rem(165) f.rem(94) f.rem(165);
  }

  &__container {
    display: grid;

    @include m.breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: f.rem(71);
    @include m.breakpoint(medium) {
      text-align: left;
      margin-bottom: f.rem(45);
    }
  }
  &__title {
    font-size: f.rem(40);
    font-weight: 500;

    @include m.breakpoint(medium) {
      width: 345px;
    }
  }
  &__subtitle {
    color: #56b280;
    font-weight: 400;
  }

  &__list-container {
    order: 2;
    @include m.breakpoint(medium) {
      order: 0;
    }
  }
  &__list {
    margin-bottom: f.rem(45);

    @include m.breakpoint(medium) {
      margin-bottom: f.rem(68);
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: f.rem(10);
    margin-bottom: f.rem(16);

    &-text {
      line-height: 1.1;
      font-weight: 500;
    }
  }
  &__icon {
    width: 20px;
  }

  &__button {
    padding-inline: f.rem(44);
    margin-inline: auto;
    display: block;

    @include m.breakpoint(medium) {
      margin-inline: 0;
    }
  }

  &__image-container {
    max-width: f.rem(540);
    order: 1;
    margin-bottom: f.rem(45);

    @include m.breakpoint(medium) {
      order: 0;
      margin-bottom: 0;
      transform: translateY(-25%);
    }
  }
  &__image {
    width: 100%;
  }
}
