@use "../../abstracts/functions" as f;
@use "../../abstracts/mixins" as m;

.hero {
  &__container {
    position: relative;
    height: 90vh;
  }

  &__image {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    padding: f.rem(40) f.rem(15);
    margin-inline: f.rem(15);
    border-radius: 2px;
    background: rgba(247, 248, 250, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    @include m.breakpoint(medium) {
      right: 0;
      margin-inline: auto;
      width: calc(100% - 30px);
      padding: f.rem(40) f.rem(15);
    }

    @include m.breakpoint(large) {
      width: 50%;
      padding: f.rem(40) f.rem(70);
    }

    @include m.breakpoint(xlarge) {
      padding: f.rem(40) f.rem(90);
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: f.rem(40);
    text-align: center;
    font-weight: 500;
  }

  &__description {
    text-align: center;
    font-size: f.rem(18);
    margin-bottom: f.rem(35);
  }

  &__button {
    width: 100%;

    @include m.breakpoint(medium) {
      width: auto;
      padding-inline: 44px;
    }
  }
}
